body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}


.line {
  stroke:#D3D3D3;
  stroke-width:1.5;
}

/* highlight needs to come after .line so that it overrules the black stroke */
.highlight { 
  stroke: #9380B6;
  stroke-width:3;

}
